* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: #f1f2f6;
}

/* Header */
#header {
    background-color: #081621;
}
#header .header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.cart_icon ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}