* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: #f1f2f6;
}

/* Header */
#header {
    background-color: #081621;
}
#header .header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}
#header .header .logo a { 
    color: rgb(213, 233, 209);
    font-size: 20px;
}
#header .header .logo a span { 
    color:orange;
}
.header2 .header button {
    background: none;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}
.search input[type="search"],
#search_area input[type="search"] {
    padding: 10px;
    background: #f1f2f6;
    border: none;
    font-size: 15px;
    color: #232323;
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 500px;
    box-shadow: 1px 1px 5px #333;
}
.search button,
#search_area button {
    font-size: 18px;
    background: #f1f2f6;
    padding: 8px;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    cursor: pointer;
}
.cart_icon ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cart_icon ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cart_icon ul li a {
    color: #fff;
    font-size: 18px;
}
.cart_icon ul li a:hover {
    color: #ccc;
}

#search_area {
    background: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#search_area form {
    width: 90%;
    display: flex;
}
#search_area input[type="search"] {
    width: 100%;
    box-shadow: none;
    background: #fff;
    border: 1px solid #ddd;
}
#search_area button {
    background: #fff;
    border: 1px solid #ddd;
}


/* Catagory Box */
.futer_catagory {
    width: 100%;
}
.futer_catagory .catagory {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.futer_catagory .catagory .catagory_box {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    transition: 0.6s;
    text-align: center;
}
.futer_catagory .catagory .catagory_box:hover {
    margin-top: -10px;
}













/* Desktop Large (1200px and up) */
@media (min-width: 1200px) {
  .header2 {
    display: none;
  }
  #search_area {
    display: none;
  }
}

/* Laptop (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .header2 {
    display: none;
  }
  #search_area {
    display: none;
  }
}


/* Tablet (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .header1 {
    display: none;
  }
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .header1 {
    display: none;
  }
}










/* Footer */
#footer {
    background: #081621;
}